@model IEnumerable<Jop_Offers_Website.Models.Category>

@{
    ViewBag.Title = " موقع توظيف";

}

<div class="jumbotron alert alert-info">
    <h2>مرحبا بك عزيزى الزائر</h2>
    <p>مرحبا بك في برنامجنا اللذي يقدم مجموعه من الوظائف في مختلف المجالات نتمني من الله الإفاده لكم.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">مزيد من التفاصيل &raquo;</a></p>
</div>

@foreach (var item in Model)
{<div class="panel panel-info"style="margin-left: 20px; margin-right: 20px">
        <div class="panel panel-heading"><h1> @Html.DisplayFor(modelItem => item.CategoryName)</h1></div>
        

        <div class="row"style="margin-right:20px">
            <h5>@Html.DisplayFor(modeItem => item.CategoryDescription)</h5>
            @foreach (var subItem in item.Jobs)
            {
                <div class="col-md-3 thumbnail" style="margin-left:20px;margin-bottom:30px ;min-height:380px ;">

                    <img src="~/Uploads/@subItem.JobImage" style=" height: 226px;" />
                    <h3>@Html.DisplayFor(modelItem => subItem.JobTitle)</h3>
                    <h5>@Html.DisplayFor(modelItem => subItem.JobContent)</h5>
                    @Html.ActionLink("التفاصيل", "Details", new { JobId = subItem.Id }, new { @class = "btn btn-primary" })

                </div>
            }
        </div>
    </div>
}
